.wh-we__main2{
    margin-top: 50px;
}
.wh__main2 span{
font-size: large;
margin-top:10px;
display: block;
}

.wh__main3 {
    margin-top: -290px;
   
}
.wh-we__main3 span{
    font-size: x-large;
   font-weight: bold;
  
}

.wh-we__main3_l{
    margin-top: 10px;
    float: left;
    width: 50%;
}
.wh-we__main3_r p{
    color: #3F6E89;
    font-size: small;
    margin-top: 5px;
    margin-bottom: 20px;
}

.whywe__main3_l img {
    
    width: 60%;
    margin-top: 60px;
    margin-left: 0%;
}
.whywe__main3_l {
    margin-top: -2px;
    margin-bottom: 150px;
    
    width: 170%;
}
ol {
	list-style-type: none; 
	counter-reset: num;
	margin: 0 0 0 19px;
	padding: 15px 0 55px 0;
	font-size: 19px;
}
ol li {
	position: relative;	
	margin: 0 0 0 5;
	padding: 0 0 29px 0;
}
ol li:before {
	content: counter(num) '.'; 
	counter-increment: num;
	display: inline-block;	
	position: absolute;
	top: 0px;
	left: -26px;
	width: 20px;    
	color: #3815ab;
	text-align: right;
}
.margin-p{
    margin-top:40px; 
  }
  .margin-p1{
    margin-top:-45px; 
  }

.margin-p2{
  margin-top:-39px; 
}
.margin-p3{
    margin-top:-35px; 
  }