<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ZooStore</title>
    <link rel="stylesheet" asp-href-include="~/**/*.css" asp-href-exclude="*/**/bootstrap/*, *Identity/css/site.css" />
    <script type="module" asp-src-include="~/**/*.js" asp-src-exclude="**/lib/**/*.js, ~/js/page.js"> </script>

    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,700;1,800&display=swap" rel="stylesheet">
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">

    <script src="~/js/page.js" defer></script>

</head>
<body>

    <div class="header">
        @await Html.PartialAsync("_HeaderPartial")

        <div class="all">

            @await Html.PartialAsync("_SearchLinePartial")
            @await Html.PartialAsync("_NavigationPartial")


        </div>
    </div>

    <main class="content">

        @RenderBody()

    </main>

    @await Html.PartialAsync("_FooterPartial")

    @await Html.PartialAsync("_ValidationScriptsPartial")  
</body>
</html>
