@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<div class="top_sr">
    <div class="sr_l">
        <a asp-controller="Home" asp-action="Index">
            <img src="/img/icons/logo.svg" alt="">
        </a>
    </div>
    <div class="sr_m">
        <div class="d1">
            <form id="form-search" method="get" asp-controller="Home" asp-action="Search">
                <input list="poshuk" autocomplete="off" placeholder="Шукати продукт або бренд" id="search" name="search" size="50" />
                @await Component.InvokeAsync("SearchHistory")
            </form>
        </div>
    </div>

    <div class="sr_r">
        <a asp-controller="Cart" asp-action="Index"><img src="/img/icons/like.png" alt="favourite"></a>
        @if (SignInManager.IsSignedIn(User))
        {
            <a asp-controller="Account" asp-action="Login"><img src="/img/icons/profile.png" style="background-color: green" alt="me"></a>
             @User.Identity.Name 
        }
        else
        {
            <a asp-controller="Account" asp-action="Login"><img src="/img/icons/profile.png" style="background-color: red" alt="me"></a>   
        }
      
    </div>
</div>