<div class="top_sr">
    <div class="sr_l">
        <a asp-controller="Home" asp-action="Index">
            <img src="/img/icons/logo.svg" alt="">
        </a>
    </div>
    <div class="sr_m">
        <div class="d1">
            <form id="form-search" method="get" asp-controller="Home" asp-action="Search">
                <input list="poshuk" autocomplete="off" placeholder="Шукати продукт або бренд" id="search" name="search" size="50" />
                <datalist id="poshuk">
                    <option>jdkdk</option>
                    <option>кіт</option>
                    <option>улюбленець</option>
                    <option>sheba fine</option>
                    <option>зоотовари</option>
                    <option>корм для котів</option>
                    <option>шеба</option>
                    <option>корми</option>
                    <option>sheba lux</option>
                    <option>корм для котів</option>
                    <option>шеба</option>
                    <option>митм</option>    <option>авцец</option>
                    <option>вап</option>
                    <option>орпукену</option>
                    <option>вып ба</option>
                    <option>пв</option>
                     <option>куцй</option>
                    <option>пав</option>
                    <option>аыв ба</option>
                    <option>фпа</option>
                       <option>цуке</option>
                     <option>пр</option>
                    <option>тсм</option>
                    <option>оав ба</option>
                    <option>фыва</option>
                </datalist>
            </form>
        </div>
    </div>

    <div class="sr_r">
        <a href=""><img src="/img/icons/like.png" alt="favourite"></a>
        <a href=""><img src="/img/icons/profile.png" alt="me"></a>
    </div>
</div>