<div class="top_sr">
    <div class="sr_l">
        <a asp-controller="Home" asp-action="Index">
            <img src="/img/icons/logo.svg" alt="">
        </a>
    </div>
    <div class="sr_m">
        <div class="d1">
            <form method="get" asp-controller="Home" asp-action="Search" >
                <input list="poshuk" placeholder="Шукати продукт або бренд" id="search" name="search" size="50" />
                <datalist id="poshuk">
                    <option>jdkdk</option>
                    <option>кіт</option>
                    <option>улюбленець</option>
                    <option>sheba fine</option>
                    <option>зоотовари</option>
                    <option>корм для котів</option>
                    <option>шеба</option>
                    <option>корми</option>
                    <option>sheba lux</option>
                </datalist>
            </form>
        </div>
    </div>

    <div class="sr_r">
        <a href=""><img src="/img/icons/like.png" alt="favourite"></a>
        <a href=""><img src="/img/icons/profile.png" alt="me"></a>
    </div>
</div>