@model RegisterViewModel

@{
    ViewData["Title"] = "Реєстрація";
}

<div class="all">
    <div class="menuimg">
        <img src="/img/pets.png" alt="pets">
    </div>

    <div class="main">
        <div class="main1">
            <span style="font-size: xx-large;"> <b>Вхід</b> </span>
        </div>
    </div>
    <div class="line"></div>
    <form class="sing-up__form" method="post" asp-action="SingUp">
        <div asp-validation-summary="ModelOnly"></div>

        <div class="login_box">

            <div class="input-validation-error-el">
                <span asp-validation-for="FullName"></span>
            </div>
            <input asp-for="FullName" placeholder="Iм'я">


            <div class="input-validation-error-el">
                <span asp-validation-for="PhoneNumber"></span>
            </div>
            <input placeholder="Телефон" asp-for="PhoneNumber">



            <div class="input-validation-error-el">
                <span asp-validation-for="Email"></span>
            </div>
            <input placeholder="E-mail" asp-for="Email">

            <div class="input-validation-error-el">
                <span asp-validation-for="Password"></span>
            </div>
            <input placeholder="Пароль" asp-for="Password">

            <div class="input-validation-error-el">
                <span asp-validation-for="PasswordConfirm"></span>
            </div>
            <input placeholder="Підтвердити пароль" asp-for="PasswordConfirm">



        </div>
        <div class="login_action">
            <button type="submit" id="b">Реєстрація</button>

            <p>У вас немає акаунта? <a asp-action="Login" asp-route-returnUrl="@ViewBag.ReturnUrl">Авторизуватися</a></p>


        </div>

    </form>
    <div class="clear"></div>
</div>