*{
    background-color: #faf8f8;
}
.zakaz_all{
    margin-top: 10%;
    
    box-sizing: border-box;
    
}
.zakaz_all span{
    display: block;
    color: #3F6E89;
    text-align: center;
    font-size: xxx-large;
    font-weight: 800;
    margin-bottom: 5%;
}
.zakaz_all p{
    font-size: x-large;
    font-weight: 500;
    text-align: center;
    width: 40%;
    margin-left: 30%;
    float: left;
}
.zakaz_all img{
    display: block;
    float: right;
}