@{
    ViewData["Title"] = "Хто ми";
}

<div class="all">
    <div class="menuimg">
        <img src="/img/pets.png" alt="pets">
    </div>
    <div class="main">
        <div class="main1">
            <span style="font-size: xx-large;"> <b>Зоомагазин PetPlaset</b> </span>
        </div>
    </div>
    <div class="line"></div>
</div>
       <br>

<div class="all">
    <div class="wh-we__main2">
        <span>
            Інтернет зоомагазин «Шиншилка» - Дискаунтер зоотоварів пропонує товари за мінімально можливою ціною з максимальним сервісом.
        </span> <br><br><br><br><br><br><br><br><br><br><br><br>
        
     

        <div class="wh-we__main3">
            <span>Як ми це робимо?</span>
        </div>

        <ol>
            <li>Постійно знижуємо наші накладні витрати, торгову націнку і кінцеву ціну товарів;</li>
            <li>Постійно підвищуємо виробничу ефективність, автоматизацію і кваліфікацію наших співробітників</li>
            <li>Займаємо жорстку цінову позицію по відношенню до наших постачальників і поштовим службам вимагаючи - мінімальні ціни;</li>
            <li> Створюємо у себе запаси продаються товаров.В випадках перебою в поставках (а вони трапляються регулярно) Ви можете на нас покластися;</li>
            <li>
                Чи не закладаємо у вартість товару прихованих платежів (доставка, реклама, банківських комісій та інше), ці витрати ми оплачуємо з власного прибутку;
            </li>
            <li> Чи не орендуємо приміщення, а розміщуємо всі наші технологічні процеси тільки на власних площах;</li>
            <li>Ми сімейна компанія і відповідаємо за результат своїм чесним ім'ям;</li>
            <li>
                У нашому магазині виключені індивідуальні мотиваційні програми поставщіков.Ні один з постачальників не має будь-яких привілеїв і це запорука чесного ставлення до покупців і продукту
            </li>
        </ol>

    </div>
</div>
<div class="clear"></div>