<div class="top">
    <div class="top_line">
        <div class="top_tw"> <a href="https://twitter.com/?lang=uk"><img src="/img/icons/twitter.png" alt="twitter"></a></div>
        <div class="top_tw"><a href="https://www.instagram.com"><img src="/img/icons/instagram.jpg" alt="inst"></a></div>
        <div class="top_tw"><a href="https://www.facebook.com/"><img src="/img/icons/facebook.jpg" alt="facebook"></a></div>
        <span>(050) 022 4004</span>
    </div>
</div>