<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ZooStore</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />*@
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="~/home/css/home.css"/>
    <script asp-src-include="~/**/*.js" defer></script>
</head>
<body>
    <div class="header">

        @await Html.PartialAsync("_HeaderPartial")

   
        <div class="all">
           
            @await Html.PartialAsync("_SearchLinePartial")

            <div class="top_menu">
               
                <a class="nav-element" href="">Каталог</a>
                <a class="nav-element" href="">Чому ми?</a>
                <a class="nav-element" href="">Де ми?</a>

            </div>
        </div>
    </div>

    <main class="content">

        @RenderBody()

    </main>
    
    @await Html.PartialAsync("_FooterPartial")

</body>
</html>
