<div class="top_menu">
     <a class="nav-element" asp-controller="Home" asp-action="Index">Головна</a>
    <a class="nav-element" asp-controller="Home" asp-action="Search">Каталог</a>
    <a class="nav-element" href="">Чому ми?</a>
    <a class="nav-element" href="">Де ми?</a>

</div>