.where-we__main2{
    margin-top: 40px;
}
.where-we__main2 span{
font-size: large;
margin-top:10px;
display: block;
}

.where-we__main3 {
    margin-top: 30px;
   
}
.where-we__main3 span{
    font-size: x-large;
   font-weight: bold;
  
}

.where-we__main3_l{
    margin-top: 30px;
    float: left;
    width: 50%;
}
.where-we__main3_l ul{
    list-style: none;
}
.where-we__main3_l li span{
    text-decoration: none;
    font-size: larger;
    
}
.where-we__main3_l p{
    color: #3F6E89;
    font-size: small;
    margin-top: 5px;
    margin-bottom: 20px;
}
.where-we__main3_r ul{
    list-style: none;
    margin-top: 30px;
}
.where-we__main3_r li span{
    text-decoration: none;
    font-size: larger;
    
}
.where-we__main3_r p{
    color: #3F6E89;
    font-size: small;
    margin-top: 5px;
    margin-bottom: 20px;
}