.sr_r2{
    width: 25%;
    float: right;
    padding-top: 10px;
}
.sr_r2 img{
width: 15%;
margin-top: 10%;
float: left;
}
.sr_r2 button{
    width: 60%;
    float: right;
    margin-bottom: 5px;
    margin-top: 10px;
    border: 2px solid #3F6E89;
    padding: 2px;
    border-radius: 15px;
}
.sr_r2 button:hover {
    background-color: #3F6E89;
    color: #eeeeee;
}

.sr_m2 {
    width: 45%;
    margin: auto;
    padding: 40px;
    float: left;
}
.sr_m2 input{
    width: 70%;
    height: 16px;
    float: right;
    border: 2px solid #3F6E89;
    background-color: #eeeeee;
    padding: 5px;
    
}