/* .search_wrapper {
    width: 80%;
    margin: auto;
} */
.me_body {
    margin-top: 30px;
}
.me_body input {
    width: 25%;
    background-color: #eeeeee;
    border-radius: 15px;
    height: 30px;
    border: 3px solid #275878;
    margin-left: 10px;
}
.me_body p {
    margin: auto;
    text-align: center;
    margin-top: 20px;
}
.me_body span {
    color: #2f6182;
    font-size: larger;
    font-weight: 800;
}
.me_body button {
    background-color: #3f6e89;
    padding: 5px;

    width: 10%;
    text-align: center;
    color: #eeeeee;
    font-size: larger;
    border-radius: 10px;
}
.me_history a {
    color: #2f6182;
    text-decoration: underline;
    font-size: x-large;
    font-weight: 800;
    display: block;
    margin-bottom: 40px;
    margin-top: 40px;
    text-align: center;
}
/* 
.search_box:hover {
    background-color: #bebcbc;
    box-shadow: 10px 10px 33px 11px rgba(0, 0, 0, 0.11);
}
.search_scroll {
    width: 20%;
    margin: auto;
    padding-top: 30px;
}
.search__page {
    width: 10%;
    text-align: center;
    margin: 5px;
    height: 25px;
    font-size: larger;
    float: left;
    font-weight: 800;
    color: #3f6e89;
    border: 2px solid #3f6e89;
    opacity: 1.7;
    margin-bottom: 30px;
}
.search__page:hover {
    opacity: 1;

    box-shadow: 10px 10px 33px 11px rgba(0, 0, 0, 0.11);
}
.search__page-selected {
    background-color: #3f6e89;
    color: #eeeeee;
    opacity: 1;
}
.search_slider {
    width: 60%;
    margin: auto;
}
.search_slider_box {
    width: 90%;
    float: left;
    background: #eeeeee;
    border: 1px solid #eeeeee;
    box-sizing: border-box;
    box-shadow: 5px 4px 33px 11px rgba(0, 0, 0, 0.11);
    padding: 10px;
    margin: 10px;
}
.search_slider_box img {
    width: 100%;
}
.search_slider_box p {
    font-size: x-small;
    width: 45%;
    float: left;
    font-weight: 600;
    margin-bottom: 15px;
    margin-top: 15px;
}
.search_slider span {
    color: #3f6e89;
    font-size: x-large;
    font-weight: 800;
    display: block;
    text-align: center;
}
.search_slider_box span {
    color: #3f6e89;
    font-weight: 800;
    font-size: medium;
    float: right;
    margin-top: 15px;
    display: block;
} */

.wrapper {
    width: 100%;
}

.carousel {
    max-width: 1200px;
    margin: auto;
    padding: 0 30px;
}
.carousel .card {
    color: #fff;
    text-align: center;
    margin: 20px 0;
    line-height: 250px;
    font-size: 90px;
    font-weight: 600;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.owl-dots {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 50px;
    margin-left: -70px;
}

.owl-dot {
    height: 15px;
    width: 35px;
    margin: 0 10px;
    outline: none;
    border-radius: 50px;
    border: 3px solid #275878 !important;
    box-shadow: 0px 4px 15px rgba(235, 235, 235, 0.2);
    transition: all 0.9s ease;
}

.owl-dot.active,
.owl-dot:hover {
    background: #2f6182 !important;
}
