* {
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
   
}

body{
    background-color: #EEEEEE;
}
.top_line {
    background-color: #3F6E89;
   
    
    max-width: 1280px;
    height: 40px;
    padding-left: 3%;
    padding-top: 10px;
 
}
.top_line span{
    float: right; 
    padding-right: 20px;
    color: #EEEEEE;
    font-size: large;
    padding-top: 5px;
}
 .top_line img{
 
max-width: 25px;
height: 25.23px;
 }

.top_tw {
margin-right: 10px; 
float: left;

 }

.all {
    width: 80%;
    background-color: 
    #EEEEEE;
    margin-left: 10%;
    font-family: 'Raleway', sans-serif;;
}
.top_sr{
    
    min-height: 100px;
    padding-top: 15px;
    margin-bottom: 10px;
}
.sr_l{
    float: left;
    width: 15%;
}
.sr_l img{
    width:100%;
}
.sr_r{
    max-width: 100%;
    float: right;
    padding-top: 25px;
 
}
.sr_m{
    width: 30%;
    float: left;
   margin-left: 10%;
   margin-top: 30px;
   box-sizing: border-box;
   
}
.sr_m input{
    width: 100%; 
    background-color:#EEEEEE;;
    padding: 2%;
    
    background-image: url(/place/app/img/search.png);
    background-position: right;
    background-repeat: no-repeat;
    color: -internal-light-dark(#9E9E9E, #EEEEEE);
}
.sr_r img{
    width: 30%;
}

.menu_left{
    width: 30%;
    height: 30px;
    background-color: #3F6E89;
    color: #EEEEEE;
    float: left;
    margin-right: 3%;
    padding-top: 10px;}
    
    

.menu_left img{
    float: left;
    margin-left: 5%;
    margin-right: 3%;
}

.top_menu li{
    list-style: none;
   
    

}
.top_menu a:hover {
    background-color: #3F6E89;
    color: #EEEEEE;
    box-sizing: border-box;
}
.top_menu li a{
    text-decoration: none;
    color: #000000;
    box-sizing: border-box;
    width: 20%;
    height: 40px;
    text-align: center;
    float: left;
    padding-top: 10px;
    
}

.menuimg img{
    width: 100%;
}
.line{
    width: 100%;
    background-color: #3F6E89;
    height: 5px;
}
.main1{
    margin-top: 10px;
   
}
.main1 img{
    float: right;
    margin-top: -14px;
   
}


/*header stop */



.main2{
    width: 70%;
    padding-top: 40px;
    margin: auto;
}
.main2_l{
    float: left;
    width: 50%;
}
.main2_r{
    width: 50%;
    float: left;
}
.main2_r1 span{
font-size: x-large;
font-weight: 800;
margin-top:10px;
display: block;
}
.main2_r2{
    width: 40%;
    margin-left: 5%;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
.main2_r2span{
    background-color: #EEEEEE;
    color: #3F6E89;
    font-size: small;
    font-weight: 900;
    width: 500px;
    
   margin-left: 10px;
    margin-top: -35px;
}
.main2_r2 input{
    border-radius: 15px;
    border-color: #3F6E89;
    height: 25px;
    width: 140%;
        background-color: #EEEEEE;
}
.main2_r2 p{
    font-size: x-large;
font-weight: 800;

margin-top:20px;
margin-bottom: 20px;
}
.main2_r2 button{
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #3F6E89;
    color: #EEEEEE;
    border-radius: 8px;
    margin-top: 20px;
    float: left;
}
.main2_r2 img{
    width: 20%;
    margin-top: 20px;
    float: right;
    
}
.main2_r3 {
    font-size: small;
    padding-top: 10px;
    box-sizing: border-box;
}
.main3 {
    margin-top: 30px;
    width: 70%;
    margin: auto;
    background-color: #EEEEEE;
   
}

.main3_l img{
    width: 60%;
    
}
.main3_l{
    margin-top: 30px;
    
    float: left;
    width: 30%;
}
.main3_border{
    border-top: 5px solid #3F6E89;
    max-width: 100%;
    margin-top: 50px;
   
    
}
.main3_top1{
    height: 16px;
    background-color: #EEEEEE;
    margin-top: -16px;
}
.main3_top span{
background-color: #EEEEEE;
border: 5px solid #3F6E89;

border-radius: 15px;
padding-top: 7px;
padding-left: 10px;
padding-right: 10px;
padding-bottom: 10px;
box-sizing: border-box;
margin-top: -40px;
display: block;

 font-size: x-large;
   font-weight: bold;
   width: fit-content;
   margin-left: 20%;
}

.main3_r{
    width: 60%;
    float: left;
    padding-top: 5%;
}
.main3_r ul{
    list-style: none;
    margin-top: 30px;
    
}
.main3_r li{
    border-bottom: 2px solid #cfd0d1;
}
.main3_r li span{
    text-decoration: none;
    font-size: larger;
    
    
}
.main3_r span{
    box-sizing: border-box;
    font-size:large;
    font-weight:500;
   
    
}
.main3_r p{
    
    font-size:large;
    font-weight:500;
    float: right;
   
}

/*footer start*/

.clear {
    clear: both;
}
.footer{
    max-width: 1400px;
    background-color:  #3F6E89;
    min-height: 20px;
}
.footer p{
    color: #EEEEEE;
    text-align: center;
    margin: auto;
    width: 80%;
    float: left;
    
}

