
.product__main2 {
    width: 70%;
    padding-top: 40px;
    margin: auto;
}
.product__main2_l{
    height: 400px;
}
.product__main2_l img{
    height: 80%;
    box-sizing: border-box;
    max-width: 300px;
}
.product__main2_l {
    float: left;
    width: 50%;
}
.product__main2_r {
    width: 50%;
    float: left;
}
.product__main2_r1 span {
    font-size: x-large;
    font-weight: 800;
    margin-top: 10px;
    display: block;
}
.product__main2_r2 {
    width: 40%;
    margin-left: 5%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.product__main2_r2span {
    background-color: #eeeeee;
    color: #3f6e89;
    font-size: small;
    font-weight: 900;
    width: 500px;

    margin-left: 10px;
    margin-top: -35px;
}
.product__main2_r2 input {
    border-radius: 15px;
    border-color: #3f6e89;
    height: 25px;
    width: 140%;
    background-color: #eeeeee;
}
.product__main2_r2 p {
    font-size: x-large;
    font-weight: 800;

    margin-top: 20px;
    margin-bottom: 20px;
}
.product__main2_r2 button {
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #3f6e89;
    color: #eeeeee;
    border-radius: 8px;
    margin-top: 20px;
    float: left;
}
.product__main2_r2 img {
    width: 20%;
    margin-top: 20px;
    float: right;
}
.product__main2_r3 {
    font-size: small;
    padding-top: 10px;
    box-sizing: border-box;
}
.product__main2_r3 p{
    margin-bottom: 10px;
}
.product__main3 {
    margin-top: 30px;
    width: 70%;
    margin: auto;
    background-color: #eeeeee;
}

.product__main3_l img {
    width: 60%;
}
.product__main3_l {
    margin-top: 30px;

    float: left;
    width: 30%;
}
.product__main3_border {
    border-top: 5px solid #3f6e89;
    max-width: 100%;
    margin-top: 50px;
}
.product__main3_top1 {
    height: 16px;
    background-color: #eeeeee;
    margin-top: -16px;
}
.product__main3_top span {
    background-color: #eeeeee;
    border: 5px solid #3f6e89;

    border-radius: 15px;
    padding-top: 7px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
    margin-top: -40px;
    display: block;

    font-size: x-large;
    font-weight: bold;
    width: fit-content;
    margin-left: 20%;
}

.product__main3_r {
    width: 60%;
    float: left;
    padding-top: 5%;
}
.product__main3_r ul {
    list-style: none;
    margin-top: 30px;
}
.product__main3_r li {
    border-bottom: 2px solid #cfd0d1;
}
.product__main3_r li span {
    text-decoration: none;
    font-size: larger;
}
.product__main3_r span {
    box-sizing: border-box;
    font-size: large;
    font-weight: 500;
}
.product__main3_r p {
    font-size: large;
    font-weight: 500;
    float: right;
}

.product__property{
    text-transform: uppercase;
}