* {
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
}
a:focus,
a:active {
    outline: none;
}
a,
a:visited {
    text-decoration: none;
}

body {
    background-color: #eeeeee;
}
.content {
    max-width: 1200px;
    margin: 0 auto;
}

/*header start -----------------------------*/ /*header start -----------------------------*/ /*header start -----------------------------*/ /*header start -----------------------------*/ /*header start -----------------------------*/
.top_line {
    background-color: #3f6e89;

    /* max-width: 1280px; */
    height: 40px;
    padding-left: 3%;
    padding-top: 10px;
}
.top_line span {
    float: right;
    padding-right: 20px;
    color: #eeeeee;
    font-size: large;
    padding-top: 5px;
}
.top_line img {
    max-width: 25px;
    height: 25.23px;
}

.top_tw {
    margin-right: 10px;
    float: left;
}

.all {
    width: 80%;
    background-color: #eeeeee;
    margin-left: 10%;
    font-family: "Raleway", sans-serif;
}
.top_sr {
    min-height: 100px;
    padding-top: 15px;
    margin-bottom: 10px;
}
.sr_l {
    float: left;
    /* width: 15%; Що це за хрень?>*/
}
.sr_l img {
    width: 100%;
}
.sr_r {
    max-width: 100%;
    float: right;
    padding-top: 25px;
}
.sr_m {
    width: 50%;
    max-height: 100px;
    float: left;
    margin-left: 16%;
    margin-top: 30px;
    box-sizing: border-box;
}
.sr_m input {
    max-height: 5px;
    width: 100%;
    background-color: #eeeeee;
    padding: 2%;
    background-image: url(/place/app/img/search.png);
    background-position: right;
    background-repeat: no-repeat;
    color: -internal-light-dark(#9e9e9e, #eeeeee);
}
.sr_r img {
    width: 30%;
}


.d1 input {
 
  border: 2px solid #366a8a;
  border-radius: 90px;
  outline: none;
 border-width: 4px;
  
 
}


.menu_left {
    width: 15%;
    height: 30px;
    background-color: #3f6e89;
    color: #eeeeee;
    text-align: center;
    margin-right: 3%;
    padding-top: 10px;
}

/* .menu_left img {
  
    float: left;
    margin-left: 5%;
    margin-right: 3%;
} */
.top_menu {
    display: flex;
}
/* .top_menu li {
    display: block;
    list-style: none;
   
} */
.top_menu .nav-element:hover {
    background-color: #3f6e89;
    color: #eeeeee;
    box-sizing: border-box;
}
.nav-element {
    display: block;
    text-decoration: none;
    color: #000000;
    box-sizing: border-box;
    height: 40px;
    text-align: center;
    padding-top: 10px;
    flex: auto;
}

.menuimg img {
    width: 100%;
}
.line {
    width: 100%;
    background-color: #3f6e89;
    height: 5px;
}
.main1 {
    margin-top: 10px;
}
.main1 img {
    float: right;
    margin-top: -14px;
}

/*header stop -----------------------------*/ /*header stop -----------------------------*/ /*header stop -----------------------------*/ /*header stop -----------------------------*/ /*header stop -----------------------------*/

/*footer start*/

.clear {
    clear: both;
}
.footer {
    background-color: #3f6e89;
    min-height: 20px;
    
    
}
.footer p {
    color: #eeeeee;
    text-align: center;
    margin: auto;
    width: 80%;
    float: left;
   
}

/*footer stop -----------------*/ /*footer stop -----------------*/ /*footer stop -----------------*/ /*footer stop -----------------*/ /*footer stop -----------------*/ /*footer stop -----------------*/ /*footer stop -----------------*/
