.home__main2 {
    width: 90%;
    padding-top: 17px;
    margin: auto;
}
.home__main2_l {
    float: left;
    width: 60%;
}
.home__main2_r {
    width: 40%;
    float: right;
}
.home__main2_r1 span {
    font-size: x-large;
    font-weight: 800;
    margin-top: 10px;
    display: block;
}
.home__main2_r2 {
    width: 60%;
    margin-left: 5%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.home__main2_r2span {
    background-color: #eeeeee;
    color: #3f6e89;
    font-size: small;
    font-weight: 900;
    width: 500px;

    margin-left: 10px;
    margin-top: -35px;
}
.home__main2_r2 input {
    border-radius: 15px;
    border-color: #3f6e89;
    height: 25px;
    width: 140%;
    background-color: #eeeeee;
}
.home__main2_r2 p {
    font-size: x-large;
    font-weight: 800;

    margin-top: 20px;
    margin-bottom: 20px;
}
.home__main2_r2 button {
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #3f6e89;
    color: #eeeeee;
    border-radius: 8px;
    margin-top: 20px;
    float: left;
}
.home__main2_r2 img {
    width: 20%;
    margin-top: 20px;
    float: right;
}
.home__main2_r3 {
    font-size: small;
    padding-top: 10px;
    box-sizing: border-box;
}
.home__main3 {
    margin-top: 30px;
    width: 70%;
    margin: auto;
    background-color: #eeeeee;
}

.home__main3_l img {
    float: left;
    width: 90%;
    margin-top: -230px;
    margin-left: -30%;
}
.home__main3_l {
    margin-top: -2px;

    width: 110%;
}
.home__main3_border {
    border-top: 5px solid #3f6e89;
    max-width: 100%;
    margin-top: 50px;
}
.home__main3_top1 {
    height: 16px;
    background-color: #eeeeee;
    margin-top: -16px;
}
.home__main3_top span {
    background-color: #eeeeee;
    border: 5px solid #3f6e89;

    border-radius: 15px;
    padding-top: 7px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
    margin-top: -40px;
    display: block;

    font-size: x-large;
    font-weight: bold;
    width: fit-content;
    margin-left: 20%;
}

.home__main3_r {
    width: 60%;
    float: left;
    padding-top: 5%;
}
.home__main3_r ul {
    list-style: none;
    margin-top: 30px;
}
.home__main3_r li {
    border-bottom: 2px solid #cfd0d1;
}
.home__main3_r li span {
    text-decoration: none;
    font-size: larger;
}
.home__main3_r span {
    box-sizing: border-box;
    font-size: large;
    font-weight: 500;
}
.home__main3_r p {
    font-size: large;
    font-weight: 500;
    float: right;
}
.hr-line {
    margin: 200px 0;
    margin-right: 50%;
    margin-left: -170%;
    width: 290%;

    border-top: 2px solid rgb(59, 87, 131);
}

.figure {
    width: 50%; /* Ширина */
    float: none; /* Выстраиваем элементы по горизонтали */
    margin: 0 0 0 25%; /* Отступ слева */
}
.div {
    width: 100%; /* Ширина слоя */
    margin: 9px; /* Значение отступов */
    padding: 50px; /* Поля вокруг текста */
    background: rgb(226, 224, 216); /* Цвет фона */
    margin-bottom: 150px;
}
.div img{
    width: 100%;
}
.brend {
    float: right; /* Выравнивание по правому краю */
    margin: 0 0 2px 5px;
}
.home__main2 {
    margin-top: 20px;
}
.home__main2 span {
    font-size: large;
    margin-top: -49px;
    display: block;
}

.home__main2_rr {
    width: 49%;
    float: right;
}
.home__main2_r11 span {
    font-size: x-large;
    font-weight: 999;
    margin-top: -270px;
    display: block;
}
