@model Product
@{
    ViewData["Title"] = "Home Page";
}

<div class="search_box">
    <img src="@Model.ImagePath" alt="">
    <p>@Model.Name</p>
    <span>@Model.Price₴</span>
    <button>Замовити</button>

</div>
